<div class="flex size-full justify-center items-center">
  <div class="flex min-w-2/5 flex-col justify-center items-center">
    <span class="text-3xl font-bold">Welcome to <i class="font-light">UglyTodo</i></span>
    <span class="mt-1 text-zinc-700">you're just here to tick in and tick out ✨</span>

    <div class="mt-12 w-full flex flex-col gap-y-5 items-center">
      <input type="email" class="form-input" placeholder="Enter email here..." />
      <input type="password" class="form-input" placeholder="Enter your password" />
    </div>
    <button class="mt-7 bg-slate-600 rounded-2xl text-white py-3 w-1/2">Sign in</button>
    <span class="mt-4 font-light"
      >Don't have an account ?
      <a class="font-medium italic underline underline-offset-4 text-slate-600">Sign up</a></span
    >
  </div>
</div>
